body {
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style:ridge;
    border-color: aliceblue;
}

.header-v채ns {
    margin-left: 2%;
}

.header-r채tt {
    margin-right: 2%;
}

.header-r채tt li {
    list-style: none;
}

.header-r채tt {

}

.bild img{
    border-radius: 50%;
    margin-left: 15%;
    margin-top:30px ;
    }
.hemskheter {
    background-color: black;
    height: 470px;
    width: 50%;
}


h2 {margin-left: 300px;}